.home--main {
    display: flex;
    justify-content: center;
}

.home--left {
    margin-left: 60px;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
}

.home--left--top {

}

.home--left--bottom {
    margin-top: 20px;
}

.home--middle {
    margin-left: 40px;
    margin-right: 40px;
}
.home--right {
    display: flex;
    margin-right: 60px;
}