.list--main {
    border-radius: 3px;
    box-shadow: 0 3px 15px rgba(94, 188, 244, 0.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 550px;
}

.list--main:hover {
    box-shadow: 0 3px 15px rgba(94, 188, 244, 0.9);
}

.list-content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.list--title{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-x {
    display: flex;
    justify-content: flex-start;
}

.list--title--point{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(78,175,231,0.6);
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 5px;
}

.list--title--text{
    font-size: 15px;
    color: rgba(104,104,104,0.8);
}